<form action="">
  <label for="register_firstName">First Name</label><br>
  <input type="text" name="register_firstName" id="register_firstName" placeholder="FirstName"><br>
  <label for="register_lastName">Last Name</label><br>
  <input type="text" name="register_lastName" id="register_lastName" placeholder="LastName"><br>
  <label for="register_email">Email</label><br>
  <input type="email" name="register_email" id="register_email" placeholder="example@gmail.com"><br>
  <label for="register_phone">Phone</label><br>
  <input type="text" name="register_phone" id="register_phone" placeholder="0738684148"><br>
  <label for="register_username">Username</label><br>
  <input type="text" name="register_username" id="register_username" placeholder="username"><br>
  <label for="register_password1">Password</label><br>
  <input type="password" name="register_password1" id="register_password1"><br>
  <label for="register_password2">Confirm Password</label><br>
  <input type="password" name="register_password2" id="register_password2"><br>
  <input type="submit" value="Register">
</form>
<input type="button" value="GetUsers" (click)="getUsers()">
